{% extends 'silvereye/explore_base.html' %}
{% load i18n %}
{% load cove_tags %}
{% load staticfiles %}

{% block explore_content %}

  <h1>Upload results</h1>

  {% with releases_aggregates as ra %}
    <div class="card mt-4 mb-5">
      <div class="card-body">
        <p class="mb-3 d-flex align-items-center">
          <svg class="bi bi-file-check mr-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"></path>
            <path fill-rule="evenodd"
                  d="M15.854 2.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 4.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
          </svg>
          {{ file_name }}
        </p>
        <div>
          <a href="{{ original_file.url }}" class="btn btn-outline-secondary btn-sm mr-2">
            Download original file
          </a>
          {% if conversion == 'flatten' %}
            {% if not conversion_error %}
              <a href="{{ converted_url }}.xlsx" class="btn btn-outline-secondary btn-sm">
                Download as XLSX
              </a>
            {% endif %}
          {% elif conversion == 'unflatten' %}
            <a href="{{ converted_url }}" target="_blank" class="btn btn-outline-secondary btn-sm">
              Download as JSON
            </a>
          {% elif conversion == 'flattenable' %}
            <form method="post" class="d-inline">
              <button name="flatten" value="true" type="submit" class="btn btn-outline-secondary btn-sm">
                {% blocktrans %}Convert to Spreadsheet{% endblocktrans %}
              </button>
              {% csrf_token %}
            </form>
          {% endif %}
        </div>
      </div>
      <div class="card-footer">
        <ul class="list-unstyled mb-0 d-sm-flex justify-content-between align-items-center">
          {% if data_schema_version %}
            <li class="px-3 text-center">
              OCDS version <strong>{{ data_schema_version }}</strong>
              {% if validation_errors or additional_closed_codelist_values %}
                <strong class="d-inline-flex align-items-center text-danger ml-1">
                  Failed
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill ml-2 text-danger"
                       fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                  </svg>
                </strong>
              {% else %}
                <strong class="d-inline-flex align-items-center text-success ml-1">
                  Passed
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill ml-2 text-success"
                       fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Passed validation">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                </strong>
              {% endif %}
            </li>
          {% else %}
            <li class="px-3 text-center">
              OCDS version:
              <strong class="d-inline-flex align-items-center text-danger">
                Unknown
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill ml-2 text-danger"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                </svg>
              </strong>
            </li>
          {% endif %}
          {% if json_data.publisher.name %}
            <li class="px-3 text-center">
              Publisher: <strong>{{ json_data.publisher.name }}</strong>
            </li>
          {% else %}
            <li class="px-3 text-center">
              Publisher:
              <strong class="d-inline-flex align-items-center text-danger">
                Unknown
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill ml-2 text-danger"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                </svg>
              </strong>
            </li>
          {% endif %}
          {% if ra.release_count %}
            <li class="px-3 text-center">
              <strong>{{ ra.release_count }}</strong> releases
            </li>
          {% endif %}
          {% if ra.tender_count %}
            <li class="px-3 text-center">
              <strong>{{ ra.tender_count }}</strong> tenders
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% if field_coverage %}
      <h2 class="h3 mt-5 mb-0">Field coverage</h2>
      <div class="row mt-3 mb-5">
        <div class="col-6 col-sm-3">
          <div class="card text-center">
            <div class="card-body">
              Expected columns
              <strong class="d-block h3 mb-0">{{ field_coverage.total_expected_fields }}</strong>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="card text-center">
            <div class="card-body">
              Average filled columns
              {% if field_coverage.average_field_completion == field_coverage.total_expected_fields %}
                <strong class="d-flex align-items-center justify-content-center h3 mb-0 text-success">
                  <svg width="0.75em" height="0.75em" viewBox="0 0 16 16" class="bi bi-check-circle-fill mr-2"
                       fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Good">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  {{ field_coverage.average_field_completion|floatformat }}
                </strong>
              {% else %}
                <strong class="d-flex align-items-center justify-content-center h3 mb-0 text-danger">
                  <svg width="0.75em" height="0.75em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill mr-2"
                       fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Warning">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                  {{ field_coverage.average_field_completion|floatformat }}
                </strong>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="card text-center">
            <div class="card-body">
              Fewest filled columns
              <strong class="d-block h3 mb-0">{{ field_coverage.minimum_field_completion|floatformat }}</strong>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="card text-center">
            <div class="card-body">
              Most filled columns
              <strong class="d-block h3 mb-0">{{ field_coverage.maximum_field_completion|floatformat }}</strong>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <h2 class="h3 mt-5 mb-0">Data preview</h2>
    {% if releases|length > 10 %}
      <p class="text-muted mt-2 mb-0">(Showing first 10 releases only)</p>
    {% endif %}

    {% if csv_mapper.release_type == "tender" %}
      {% include "silvereye/includes/explore_preview_table_tenders.html" %}
    {% elif csv_mapper.release_type == "award" %}
      {% include "silvereye/includes/explore_preview_table_awards.html" %}
    {% elif csv_mapper.release_type == "spend" %}
      {% include "silvereye/includes/explore_preview_table_transactions.html" %}
    {% else %}
       {% include "silvereye/includes/explore_preview_table_tenders.html" %}
    {% endif %}

    {% if simple_csv_errors %}
      <h2 class="d-flex align-items-center">
        {% blocktrans count count=simple_csv_errors|length %}
          <span class="badge badge-pill badge-danger mr-3">{{ count }}</span> CSV Error
        {% plural %}
          <span class="badge badge-pill badge-danger mr-3">{{ count }}</span> CSV Errors
        {% endblocktrans %}
      </h2>
      <table class="table mt-3 mb-5">
        {% for error_json, values in simple_csv_errors %}
          {% with error=error_json %}
            <tr>
              <td>{{ values.0.header|safe }}</td>
              <td>{{ error.message_safe|safe }}</td>
              <td>
                {% if values.0.row_number %}
                  Row <strong>{{ values.0.row_number }}</strong>
                  {% if values.1.row_number %}
                    {% for value in values|slice:"1:10" %}
                      <strong>, {{ value.row_number }}</strong>
                    {% endfor %}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endwith %}
        {% endfor %}
      </table>
    {% endif %}

    {% if ocds_validation_errors %}
      <h2 class="d-flex align-items-center">
        {% blocktrans count count=ocds_validation_errors|length %}
          <span class="badge badge-pill badge-danger mr-3">{{ count }}</span> OCDS JSON Error
        {% plural %}
          <span class="badge badge-pill badge-danger mr-3">{{ count }}</span> OCDS JSON Errors
        {% endblocktrans %}
      </h2>
      <table class="table mt-3 mb-5">
        {% for error_json, values in ocds_validation_errors %}
          {% with error=error_json|json_decode %}
            <tr>
              <td>{{ error.message_safe|safe }}</td>
              <td>
                {% if values.0.sheet %}
                  Sheet <strong>{{ values.0.sheet }}</strong>
                {% endif %}
              </td>
              <td>
                {% if values.0.row_number %}
                  Row <strong>{{ values.0.row_number }}</strong>
                  {% if values.1.row_number %}
                    {% for value in values|slice:"1:10" %}
                      <strong>, {{ value.row_number }}</strong>
                    {% endfor %}
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if values.0.path %}
                  <strong>{{ values.0.path }}</strong>
                {% endif %}
              </td>
            </tr>
          {% endwith %}
        {% endfor %}
      </table>
    {% endif %}

    {% if structure_warnings %}
      <h2 class="d-flex align-items-center">
        {% blocktrans count count=structure_warnings|length %}
          <span class="badge badge-pill badge-warning mr-3">{{ count }}</span> Warning
        {% plural %}
          <span class="badge badge-pill badge-warning mr-3">{{ count }}</span> Warnings
        {% endblocktrans %}
      </h2>
      <table class="table mt-3 mb-5">
      </table>
    {% endif %}

    {% if validation_errors or structure_warnings %}
      <h2 class="h3">This data has not been submitted because there are errors</h2>
      <p>To add your data, fix the errors, and upload your file again.</p>
      <p>
        <a href="{% url 'index' %}" class="btn btn-outline-secondary">Upload a new file</a>
      </p>
    {% else %}
      <h2 class="h3 d-flex align-items-center mb-3">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill mr-2 text-success"
             fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Passed validation">
          <path fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        This data has been validated and submitted
      </h2>
      <p>If you have more data to add, you can <a href="{% url 'index' %}">upload a new file</a>.</p>
    {% endif %}

  {% endwith %}

{% endblock %}
