{% extends request.current_app_base_template %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'publisher-hub' %}">Publisher Hub</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload data</li>
        </ol>
    </nav>

    <h1>Upload data</h1>
    <p class="mb-5">Import data on tenders, awards, or spend, from a file on your computer or on the web.</p>

    <div id="loading" style="display: none">
        <h3>Loading:</h3>
        <img class="spinner" src="//i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" alt="spinner" width="30" height="30">
    </div>

    <div class="accordion" id="inputMethods">

      {% if 'upload' in input_methods %}
        <div class="card">
            <div class="card-header" id="inputMethodUploadHeading">
                <h3 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#inputMethodUpload" aria-expanded="true" aria-controls="inputMethodUpload">
                        {% trans "Upload a file" %}
                    </button>
                </h3>
            </div>
            <div id="inputMethodUpload" class="collapse show" aria-labelledby="inputMethodUploadHeading" data-parent="#inputMethods">
                <div class="card-body">
                    <p>Get perfect results first time – put your data into one of our CSV templates:</p>
                    <ul>
                        <li><a href="{% url "download_template_csv" "tender" %}">Tender CSV Template</a></li>
                        <li><a href="{% url "download_template_csv" "award" %}">Award CSV Template</a></li>
                        <li><a href="{% url "download_template_csv" "spend" %}">Spend CSV Template</a></li>
                    </ul>
                    <hr>
                    <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
                        {% bootstrap_form forms.upload_form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% trans 'Submit' %}
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
      {% endif %}

      {% if 'url' in input_methods %}
        <div class="card">
            <div class="card-header" id="inputMethodURLHeading">
                <h3 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#inputMethodURL" aria-expanded="true" aria-controls="inputMethodURL">
                        {% trans "Import from a URL" %}
                    </button>
                </h3>
            </div>
            <div id="inputMethodURL" class="collapse show" aria-labelledby="inputMethodURLHeading" data-parent="#inputMethods">
                <div class="card-body">
                    <form method="POST" action="." id="fetchURL">{% csrf_token %}
                        {% bootstrap_form forms.url_form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% trans 'Submit' %}
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
      {% endif %}

      {% if 'text' in input_methods %}
        <div class="card">
            <div class="card-header" id="inputMethodTextHeading">
                <h3 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#inputMethodText" aria-expanded="true" aria-controls="inputMethodText">
                        {% trans "Paste" %}
                    </button>
                </h3>
            </div>
            <div id="inputMethodText" class="collapse show" aria-labelledby="inputMethodTextHeading" data-parent="#inputMethods">
                <div class="card-body">
                    <form method="POST" action=".">{% csrf_token %}
                        {% bootstrap_form forms.text_form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% trans 'Submit' %}
                        </button>
                      {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
      {% endif %}

    </div>

{% endblock %}

{% block extrafooterscript %}

    <script>
        // Hide all but the first collapsible panel.
        $('.accordion .collapse').each(function(i){
            if ( i > 0 ) {
                $(this).removeClass('show').attr('aria-expanded', 'false');
            }
        });

        $('form').submit(function () {
            $('#loading').show();
            $('#inputMethods').hide();
        });
    </script>

{% endblock %}
