{% extends "bluetail_and_silvereye_shared/base.html" %}

{% block title %}Publisher hub{% endblock %}

{% block content %}
    <div class="container-md">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active" aria-current="page">Publisher Hub</li>
        </ol>
    </nav>

    <h1 class="mt-4">{{ title }}</h1>

    <h1 class="mt-4">{% now "l, jS F Y" %}</h1>
    <hr class="mb-5"/>
    <div class="row">
        <div class="col-sm-12 col-md-8" role="main">

            {% include "silvereye/includes/publisher_metrics_row.html" %}

            <hr class="my-5"/>

            {% include "silvereye/includes/file_history.html" with recent_submissions=recent_submissions %}

        </div>

        <div class="col-sm-12 col-md-4 pl-md-4">
            <div class="performance-chart">
                <h3 class="h6 ">Poor performers</h3>
                <div class="dropdown figures-dropdown mb-2">
                    Last <a class="dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    3 months</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">months</a>
                        <a class="dropdown-item" href="#">6 months</a>
                        <a class="dropdown-item" href="#">12 months</a>
                    </div>
                </div>
                <div class="list-group list-group-flush text-align-left mb-3">
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                        <svg fill="none" height="10" viewBox="0 0 13 10" width="13" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#c4c4c4">
                                <path d="m3.29623 7.09376 6.17127-6.17126 2.7512 2.75119-6.17128 6.17126z"/>
                                <path d="m6.0619 9.73558-6.0619-6.06191 2.75119-2.751185 6.0619 6.061905z"/>
                            </g>
                        </svg>
                        <span class="flex-grow-1 text-left ml-3">Borsetshire Council</span>
                        <span class="badge badge-primary badge-pill align-self-right">14</span>
                    </a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                        <svg fill="none" height="9" viewBox="0 0 13 9" width="13" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#c4c4c4">
                                <path d="m8.92246 2.75119-6.17127 6.17126-2.75118785-2.75119 6.17126785-6.17125862z"/>
                                <path d="m6.15678.109375 6.06192 6.061905-2.7512 2.75119-6.0619-6.06191z"/>
                            </g>
                        </svg>
                        <span class="flex-grow-1 text-left ml-3">Shropshire Council</span>
                        <span class="badge badge-primary badge-pill">2</span>
                    </a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                        <svg fill="none" height="10" viewBox="0 0 13 10" width="13" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#c4c4c4">
                                <path d="m3.29623 7.09376 6.17127-6.17126 2.7512 2.75119-6.17128 6.17126z"/>
                                <path d="m6.0619 9.73558-6.0619-6.06191 2.75119-2.751185 6.0619 6.061905z"/>
                            </g>
                        </svg>
                        <span class="flex-grow-1 text-left ml-3">Buckinghamshire Council</span>
                        <span class="badge badge-primary badge-pill">1</span>
                    </a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                        <svg fill="none" height="9" viewBox="0 0 13 9" width="13" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#c4c4c4">
                                <path d="m8.92246 2.75119-6.17127 6.17126-2.75118785-2.75119 6.17126785-6.17125862z"/>
                                <path d="m6.15678.109375 6.06192 6.061905-2.7512 2.75119-6.0619-6.06191z"/>
                            </g>
                        </svg>
                        <span class="flex-grow-1 text-left ml-3">Salford City Council</span>
                        <span class="badge badge-primary badge-pill">1</span>
                    </a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center border-bottom">
                        <svg fill="none" height="9" viewBox="0 0 13 9" width="13" xmlns="http://www.w3.org/2000/svg">
                            <g fill="#c4c4c4">
                                <path d="m8.92246 2.75119-6.17127 6.17126-2.75118785-2.75119 6.17126785-6.17125862z"/>
                                <path d="m6.15678.109375 6.06192 6.061905-2.7512 2.75119-6.0619-6.06191z"/>
                            </g>
                        </svg>
                        <span class="flex-grow-1 text-left ml-3">Essex City Council</span>
                        <span class="badge badge-primary badge-pill">1</span>
                    </a>
                </div>
                <a href="{% url 'publisher-listing' %}">View all publishers</a>
            </div>
        </div>


    </div>
{% endblock %}
