{% extends request.current_app_base_template %}

{% block title %}Publisher hub{% endblock %}

{% block content %}
  <div class="container-md">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active" aria-current="page">Publisher Hub</li>
      </ol>
    </nav>

    <h1 class="mt-4 d-md-flex align-items-center justify-content-between">
      <span class="d-block">{% now "l, jS F Y" %}</span>
      <a href="{% url 'index' %}" class="btn btn-primary mt-3 mt-md-0 ml-md-3 flex-shrink-0">Upload data</a>
    </h1>

    <hr class="mb-5">

    {% if recent_submissions %}

      <div class="row">

        <div class="col-sm-12 col-md-8 col-lg-7">

          {% include "silvereye/includes/publisher_hub_timescale_options.html" %}

          <h2 class="h3 mt-4 mb-3">Notices submitted</h2>
          {% include "silvereye/includes/publisher_metrics_row.html" %}

          <h2 class="h3 mt-4 mb-3">Average field coverage</h2>
          {% include "silvereye/includes/completed_fields_row.html" %}

        </div>

        <div class="col-sm-12 col-md-4 offset-lg-1">

          {% include "silvereye/includes/performance_chart.html" %}

        </div>

      </div>

      <h2 class="h3 mt-4 mb-3">Recently submitted files</h2>
      {% include "silvereye/includes/file_history.html" %}


    {% else %}

      <div class="col-sm-12 col-md-8" role="main">
        <h3 class="h6 ">No Files submitted</h3>
      </div>

    {% endif %}

  </div>
{% endblock %}
