language: python
addons:
    chrome: stable

python:
  - "3.6"

sudo: required

cache: pip

env:
  global:
    - BASEDIR="https://raw.githubusercontent.com/open-contracting/standard-maintenance-scripts/master"
    - DISPLAY=:99.0
    # https://github.com/SeleniumHQ/docker-selenium/issues/87 :
    - export DBUS_SESSION_BUS_ADDRESS=/dev/null

install:
  - curl -s -S --retry 3 $BASEDIR/tests/install.sh | bash -
  - "pip install -r requirements_dev.txt"
  - "sudo apt-get -y purge chromium-browser"
  - "wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"
  - "sudo dpkg -i google-chrome*.deb"
  - "sleep 3"
  - "google-chrome &"
  - "export LATEST_CHROMEDRIVER=$(wget -q -O - http://chromedriver.storage.googleapis.com/LATEST_RELEASE)"
  - "wget http://chromedriver.storage.googleapis.com/$LATEST_CHROMEDRIVER/chromedriver_linux64.zip; unzip chromedriver_linux64.zip -d chromedriver; export PATH=$PATH:`pwd`/chromedriver"

before_script:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
  - sleep 3 # give xvfb some time to start

script:
  - curl -s -S --retry 3 $BASEDIR/tests/script.sh | bash -
  - "google-chrome --version"
  - "google-chrome &"
  - python -m coverage run --source cove_ocds,cove_project manage.py test
  - DJANGO_SETTINGS_MODULE=cove_project.settings pytest --cov cove_ocds --cov cove_project

after_success:
  coveralls