pip
Django>2.2<2.3
flattentool>=0.10.0
libcoveocds>=0.7.4
libcove>=0.13.0
-e git+https://github.com/OpenDataServices/lib-cove-web.git@v0.14.0#egg=libcoveweb
django-bootstrap4
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
json-merge-patch
python-dateutil
sentry-sdk
strict-rfc3339
rfc3987
rfc6266
CommonMark
bleach
xmltodict
rangedict
openpyxl<3.0
waitress
whitenoise
psycopg2-binary

# Silvereye
django-storages
boto3
smart-open
dj-database-url==0.5.0
django-pipeline==1.6.14
-e git+https://github.com/mysociety/django-pipeline-csscompressor@6a88fde5045d68746f1c7ee816deda86615c5581#egg=django_pipeline_csscompressor-master
libsass==0.12.3
django-pgviews-redux
ocdskit
pandas
elasticsearch
elasticsearch-dsl
faker
django-mathfilters
