flattentool<1
libcove<1
Django==2.2.24
libcove>=0.18.0
libcoveweb==0.18.0
libcoveocds>=0.9.0
django-bootstrap4
django-bootstrap3
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
json-merge-patch
python-dateutil
sentry-sdk
strict-rfc3339
rfc3987
rfc6266
CommonMark
bleach
xmltodict
rangedict
openpyxl<3.0
waitress
whitenoise
psycopg2-binary>=2.8,<2.9 # https://stackoverflow.com/a/68034786

# Silvereye
django-storages
boto3
smart-open
dj-database-url==0.5.0
django-pipeline<1.7
csscompressor>=0.9.4
libsass==0.12.3
django-pgviews-redux
ocdskit
numpy<1.20.0
pandas<1.2.0
elasticsearch
elasticsearch-dsl
faker
django-mathfilters
dateparser
django-postgres-extra