Django>2.2<2.3
flattentool<1
libcoveocds==0.7.4
libcove==0.17.0
libcoveweb<1
django-bootstrap4
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
json-merge-patch
python-dateutil
sentry-sdk
strict-rfc3339
rfc3987
rfc6266
CommonMark
bleach
xmltodict
rangedict
openpyxl<3.0
waitress
whitenoise
psycopg2-binary

# Silvereye
django-storages
boto3
smart-open
dj-database-url==0.5.0
django-pipeline>=1.6.8
csscompressor>=0.9.4
libsass==0.12.3
django-pgviews-redux
ocdskit
numpy<1.20.0
pandas<1.2.0
elasticsearch
elasticsearch-dsl
faker
django-mathfilters
dateparser