-r requirements.txt
pip-tools
coveralls
pytest
pytest-cov
pytest-django
flake8
pytest-localserver
selenium
transifex-client
# Lock as later versions have a problem with slow generation of data
hypothesis==3.52.3
# Lock as coverage 5 breaks hypothesis tests?
coverage<=4.5.4
sphinx
sphinx-rtd-theme
