-r requirements.txt
pip-tools
coveralls
pytest
pytest-cov<2.5
pytest-django
flake8
hypothesis
pytest-localserver
selenium
sphinx
sphinx-rtd-theme
transifex-client
# Lock as later versions have a problem with slow generation of data
hypothesis==3.52.3
# Lock as coverage 5 breaks hypothesis tests?
coverage<5
libsass
sphinx
sphinx-rtd-theme
