<h3>Understanding website visitor and traffic patterns</h3>

<p>We collect data about your visits to the website, for the purpose of analysing how the website is used, so that we can improve it.
    {% if hotjar.id %}
      We use Matomo, Google Analytics and Hotjar for this.
    {% else %}
      We use Matomo, and Google Analytics for this.
    {% endif %}
</p>

<h4>Matmo</h4>

{% include "terms_tracker_matmo.html" %}

{% include "terms_tracker_google_analytics.html" %}

{% if hotjar.id %}
    <h4>Hotjar</h4>

    <p>In order to understand the behavior of website visitors, to help us understand the most popular features and understand potential sources of frustration for website users, we are currently running a time-limited experiment using <a href="https://www.hotjar.com/">Hotjar</a> behaviour tracking.</p>

    <p>The experiment runs from {{ hotjar.date_info }}.</p>

    <p>Hotjar is a technology service that helps us better understand our users’ experience (e.g. how much time they spend on which pages, which links they choose to click, what users do and don’t like, etc.) and this enables us to build and maintain our service with user feedback. Hotjar uses cookies and other technologies to collect data on our users’ behavior and their devices, in particular: device's IP address (captured and stored only in anonymized form), device screen size, device type (unique device identifiers), browser information, geographic location (country only), preferred language used to display our website. Hotjar stores this information in a pseudonymized user profile. Neither Hotjar nor we will ever use this information to identify individual users or to match it with further data on an individual user. For further details, please see Hotjar’s privacy policy by clicking on <a href="https://www.hotjar.com/legal/policies/privacy">this link</a>.</p>

    <p>You can opt-out of the creation of a user profile, Hotjar’s storing of data about your usage of our site and Hotjar’s use of tracking cookies on other websites by following this <a href="https://www.hotjar.com/legal/compliance/opt-out">opt-out link</a>.</p>
{% endif %}

{% include "terms_tracker_server.html" %}

{% include "terms_tracker_sentry.html" %}
