<p>
    We use
    {% if hotjar.id %}
        Matomo, Google Analytics and Hotjar
    {% else %}
        Matomo, and Google Analytics
    {% endif %}
    to analyse usage of our website (see "Understanding website visitor and traffic patterns" section below).
    These use cookies to identify you (anonymously) as the same user, so that we can analyse our web traffic better.
    E.g. it allows us to count how many users we have, instead of just total page views or analyse what pages people commonly visit together.
</p>
