.performance-chart {
  background-color: $gray-100;
  padding: $spacer;
  border-radius: $border-radius;
  .list-group-item {
    background-color: transparent;
  }
}

.contact-details {
  a {
    overflow-wrap: break-word; // force line wrap for long email addresses
  }
}
