{% load i18n %}

<table class="table table-bordered mt-3 mb-5 explore-preview-table">
  <thead>
  <tr>
    <th>{% blocktrans %}Notice ID{% endblocktrans %}</th>
    <th>{% blocktrans %}Published Date{% endblocktrans %}</th>
    <th>{% blocktrans %}Supplier{% endblocktrans %}</th>
    <th>{% blocktrans %}Award Title{% endblocktrans %}</th>
    <th>{% blocktrans %}Award Description{% endblocktrans %}</th>
  </tr>
  </thead>
  <tbody>
  {% for release in releases|slice:":10" %}
    <tr>
      <td title="{{ release.id }}">{{ release.id }}</td>
      <td title="{{ release.date|date:"j M Y, H:i (e)" }}">{{ release.date|date:"j M Y, H:i (e)" }}</td>
      <td title="{{ release.awards.0.suppliers.0.name }}">{{ release.awards.0.suppliers.0.name }}</td>
      <td title="{{ release.awards.0.title }}">{{ release.awards.0.title }}</td>
      <td title="{{ release.awards.0.description }}">{{ release.awards.0.description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
