{% load i18n %}
{% load humanize %}

<table class="table table-bordered mt-3 mb-5 explore-preview-table">
  <thead>
  <tr>
    <th>{% blocktrans %}Notice ID{% endblocktrans %}</th>
    <th>{% blocktrans %}Published Date{% endblocktrans %}</th>
    <th>{% blocktrans %}Transaction Date{% endblocktrans %}</th>
    <th>{% blocktrans %}Buyer{% endblocktrans %}</th>
    <th>{% blocktrans %}Supplier{% endblocktrans %}</th>
    <th>{% blocktrans %}Amount{% endblocktrans %}</th>
  </tr>
  </thead>
  <tbody>
  {% for release in releases|slice:":10" %}
    <tr>
      <td title="{{ release.id }}">{{ release.id }}</td>
      <td title="{{ release.date|date:"j M Y, H:i (e)" }}">{{ release.date|date:"j M Y, H:i (e)" }}</td>
      <td title="{{ release.contracts.0.implementation.transactions.0.date|date:"j M Y" }}">{{ release.contracts.0.implementation.transactions.0.date|date:"j M Y" }}</td>
      <td title="{{ release.contracts.0.implementation.transactions.0.payer.name }}">{{ release.contracts.0.implementation.transactions.0.payer.name }}</td>
      <td title="{{ release.contracts.0.implementation.transactions.0.payee.name }}">{{ release.contracts.0.implementation.transactions.0.payee.name }}</td>
      <td title="{{ release.contracts.0.implementation.transactions.0.value.amount|intcomma }} {{ release.contracts.0.implementation.transactions.0.value.currency }}">
        {{ release.contracts.0.implementation.transactions.0.value.amount|intcomma }} {{ release.contracts.0.implementation.transactions.0.value.currency }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
