{% load i18n %}

<table class="table">
  {% for supplieddata in recent_submissions %}
    {% with package_data=supplieddata.ocdspackagedata_set.all|first %}
    <tr>
        <th class="pl-0">
            {{ supplieddata.created|date:"j M Y, H:i" }}
        </th>
        <td>
            Received a new
            <a href="{% url 'explore' supplieddata.id %}">{{ supplieddata.notice_type }} submission</a>
            from
            <a href="{% url 'publisher' package_data.publisher_name %}">{{ package_data.publisher_name }}</a>
        </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
