<div class="performance-chart">
  <h3 class="h3 ">Late publishers</h3>
  <h6 class="h6 ">by days since last submission</h6>
  <div class="list-group list-group-flush text-align-left mb-3">
    {% for publisher in publishers %}
      <a href="{% url 'publisher' publisher.publisher_name %}" class="list-group-item d-flex justify-content-between align-items-center">
        <span class="flex-grow-1 text-left ml-3">{{ publisher.publisher_name }}</span>
        <span class="badge badge-primary badge-pill align-self-right">{{ publisher.age }}</span>
      </a>
    {% endfor %}
  </div>
  <a href="{% url 'publisher-listing' %}">View all publishers</a>
</div>
