<div class="row">
  <div class="col">
    <h3 class="h6 ">Key figures</h3>
    <div class="dropdown figures-dropdown mb-2">
      <a class="dropdown-toggle mb-2" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
      {{ period_option }}</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="?period=1_month&comparison={{ request.GET.comparison }}">1 month</a>
        <a class="dropdown-item" href="?period=3_month&comparison={{ request.GET.comparison }}">3 months</a>
        <a class="dropdown-item" href="?period=6_month&comparison={{ request.GET.comparison }}">6 months</a>
        <a class="dropdown-item" href="?period=12_month&comparison={{ request.GET.comparison }}">12 months</a>
        <a class="dropdown-item" href="?period=all&comparison={{ request.GET.comparison }}">All time</a>
      </div>
    </div>

    <div class="dropdown figures-dropdown mb-2">
      Compare to <a class="dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
      {{ comparison_option }}</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="?period={{ request.GET.period }}&comparison=preceding">preceding period</a>
        <a class="dropdown-item" href="?period={{ request.GET.period }}&comparison=1_year">last year</a>
        <a class="dropdown-item" href="?period={{ request.GET.period }}&comparison=2_year">two years ago</a>
      </div>
    </div>
  </div>
  <div class="col">
    <h3 class="h6">Tenders</h3>
    <div class="figure-box media">
      {% if publisher_metrics.comparison %}
        {% if publisher_metrics.comparison.change.tenders > 0 %}
          {% include "silvereye/includes/up_arrow.svg" %}
        {% elif publisher_metrics.comparison.change.tenders < 0 %}
          {% include "silvereye/includes/down_arrow.svg" %}
        {% else %}
          {% include "silvereye/includes/up_arrow.svg" %}
        {% endif %}
      {% endif %}
      <div class="media-body">
        {% if publisher_metrics.comparison %}
          <p class="figure-box__change figure-box--up mb-0">{{ publisher_metrics.comparison.change.tenders }} ({{ publisher_metrics.comparison.percentages.tenders }}%)</p>
        {% endif %}
        <p class="figure-box__main-figure figure-box--up mb-0">{{ publisher_metrics.counts.tenders }}</p>
        {% if publisher_metrics.comparison %}
          <p class="figure-box__compare-figure">{{ publisher_metrics.comparison.counts.tenders }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col">
    <h3 class="h6">Contract awards</h3>
    <div class="figure-box media">
      {% if publisher_metrics.comparison %}
        {% if publisher_metrics.comparison.change.awards > 0 %}
          {% include "silvereye/includes/up_arrow.svg" %}
        {% elif publisher_metrics.comparison.change.awards < 0 %}
          {% include "silvereye/includes/down_arrow.svg" %}
        {% else %}
          {% include "silvereye/includes/up_arrow.svg" %}
        {% endif %}
      {% endif %}
      <div class="media-body">
        {% if publisher_metrics.comparison %}
          <p class="figure-box__change figure-box--up mb-0">{{ publisher_metrics.comparison.change.awards }} ({{ publisher_metrics.comparison.percentages.awards }}%)</p>
        {% endif %}
        <p class="figure-box__main-figure figure-box--up mb-0">{{ publisher_metrics.counts.awards }}</p>
        {% if publisher_metrics.comparison %}
          <p class="figure-box__compare-figure">{{ publisher_metrics.comparison.counts.awards }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col">
    <h3 class="h6">Spend files</h3>
    <div class="figure-box media">
      {% if publisher_metrics.comparison %}
        {% if publisher_metrics.comparison.change.spend > 0 %}
          {% include "silvereye/includes/up_arrow.svg" %}
        {% elif publisher_metrics.comparison.change.spend < 0 %}
          {% include "silvereye/includes/down_arrow.svg" %}
        {% else %}
          {% include "silvereye/includes/up_arrow.svg" %}
        {% endif %}
      {% endif %}
      <div class="media-body">
        {% if publisher_metrics.comparison %}
         <p class="figure-box__change figure-box--up mb-0">{{ publisher_metrics.comparison.change.spend }}  ({{ publisher_metrics.comparison.percentages.spend }}%)</p>
        {% endif %}
        <p class="figure-box__main-figure figure-box--up mb-0">{{ publisher_metrics.counts.spend }}</p>
        {% if publisher_metrics.comparison %}
         <p class="figure-box__compare-figure">{{ publisher_metrics.comparison.counts.spend }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
