{% load mathfilters %}

<div class="row mb-5">
    <div class="col-sm">
        <div class="card">
            <div class="card-body text-center">
                Tenders
                <strong class="d-block h3 my-1">{{ publisher_metrics.counts.tenders }}</strong>
              {% if publisher_metrics.comparison %}
                {% if publisher_metrics.comparison.change.tenders > 0 %}
                    <span class="d-flex align-items-center justify-content-center text-success">
                        {% include "silvereye/includes/caret_up_fill.svg" with extra_classes="mr-1" %}
                        {{ publisher_metrics.comparison.percentages.tenders }}%
                    </span>
                {% elif publisher_metrics.comparison.change.tenders < 0 %}
                    <span class="d-flex align-items-center justify-content-center text-danger">
                        {% include "silvereye/includes/caret_down_fill.svg" with extra_classes="mr-1" %}
                        {{ publisher_metrics.comparison.percentages.tenders }}%
                    </span>
                {% else %}
                    <span class="text-muted">
                        no change
                    </span>
                {% endif %}
              {% else %}
                {{ publisher_metrics.comparison.percentages.tenders }}%
              {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body text-center">
                Contract awards
                <strong class="d-block h3 my-1">{{ publisher_metrics.counts.awards }}</strong>
              {% if publisher_metrics.comparison %}
                {% if publisher_metrics.comparison.change.awards > 0 %}
                    <span class="d-flex align-items-center justify-content-center text-success">
                        {% include "silvereye/includes/caret_up_fill.svg" with extra_classes="mr-1" %}
                        {{ publisher_metrics.comparison.percentages.awards }}%
                    </span>
                {% elif publisher_metrics.comparison.change.awards < 0 %}
                    <span class="d-flex align-items-center justify-content-center text-danger">
                        {% include "silvereye/includes/caret_down_fill.svg" with extra_classes="mr-1" %}
                        {{ publisher_metrics.comparison.percentages.awards }}%
                    </span>
                {% else %}
                    <span class="text-muted">
                        no change
                    </span>
                {% endif %}
              {% else %}
                {{ publisher_metrics.comparison.percentages.awards }}%
              {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body text-center">
                Spend files
                <strong class="d-block h3 my-1">{{ publisher_metrics.counts.spend }}</strong>
              {% if publisher_metrics.comparison %}
                {% if publisher_metrics.comparison.change.spend > 0 %}
                    <span class="d-flex align-items-center justify-content-center text-success">
                        {% include "silvereye/includes/caret_up_fill.svg" with extra_classes="mr-1" %}
                        {{ publisher_metrics.comparison.percentages.spend }}%
                    </span>
                {% elif publisher_metrics.comparison.change.spend < 0 %}
                    <span class="d-flex align-items-center justify-content-center text-danger">
                        {% include "silvereye/includes/caret_down_fill.svg" with extra_classes="mr-1" %}
                        {{ publisher_metrics.comparison.percentages.spend }}%
                    </span>
                {% else %}
                    <span class="text-muted">
                        no change
                    </span>
                {% endif %}
              {% else %}
                {{ publisher_metrics.comparison.percentages.spend }}%
              {% endif %}
            </div>
        </div>
    </div>
</div>
